@using GoceTransportApp.Services.Data.Cities
@model GoceTransportApp.Web.ViewModels.Routes.RouteInputModel
@inject ICityService cityService

@{
    ViewData["Title"] = "Create Route";
    var cities = await cityService.GetAllCitiesForDropDownsAsync();
}

<h1>Create New Route</h1>

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <input asp-for="OrganizationId" type="hidden" />

    <div class="mb-3">
        <label asp-for="FromCityId" class="form-label">From City</label>
        <select id="fromCity" asp-for="FromCityId" asp-items="@(new SelectList(cities, "Id", "Name"))" class="form-select" onchange="loadStreets('fromCity', 'fromStreet')">
            <option value=""> Select a city</option>
        </select>
        <span asp-validation-for="FromCityId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FromStreetId" class="form-label">From Street</label>
        <select id="fromStreet" asp-for="FromStreetId" class="form-select">
            <option value="">Select a street</option>
        </select>
        <span asp-validation-for="FromStreetId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ToCityId" class="form-label">To City</label>
        <select id="toCity" asp-for="ToCityId" asp-items="@(new SelectList(cities, "Id", "Name"))" class="form-select" onchange="loadStreets('toCity', 'toStreet')">
            <option value=""> Select a city</option>
        </select>
        <span asp-validation-for="ToCityId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ToStreetId" class="form-label">To Street</label>
        <select id="toStreet" asp-for="ToStreetId" class="form-select">
            <option value="">Select a street</option>
        </select>
        <span asp-validation-for="ToStreetId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Distance" class="form-label">Distance</label>
        <input asp-for="Distance" class="form-control" />
        <span asp-validation-for="Distance" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Duration" class="form-label">Duration</label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Route</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/loadStreetsInCity.js"></script>

}
