@model GoceTransportApp.Web.ViewModels.Routes.RemoveRouteViewModel

@{
    ViewData["Title"] = "Delete route";
}

<h1>Delete Route</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title">Route: @Model.DepartingCity → @Model.ArrivingCity</h5>
        <p class="card-text">
            <strong>Departing Street:</strong> @Model.DepartingStreet<br />
            <strong>Arriving Street:</strong> @Model.ArrivingStreet
        </p>
        <form asp-action="Delete" method="post">
            <input asp-for="OrganizationId" type="hidden" />

            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <p class="text-danger">NOTE: Deleting route is irreversible process and cannot be restored in the future!</p>
        </form>
    </div>
</div>
