@using System.Security.Claims
@using GoceTransportApp.Services.Data.Users
@using static GoceTransportApp.Common.GlobalConstants
@model GoceTransportApp.Web.ViewModels.Drivers.DriversForOrganizationViewModel
@inject IUserService userService

@{
    var organizationId = Model.OrganizationId;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var isFounder = await userService.HasUserCreatedOrganizationAsync(userId, organizationId);
    var isAdmin = User.IsInRole(AdministratorRoleName);
}

@{
    ViewData["Title"] = "Drivers for Organization";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Drivers</h1>
    @if (isFounder || isAdmin)
    {
        <a asp-action="Create" asp-controller="Driver" asp-route-organizationId="@Model.OrganizationId" class="btn btn-success">Add New Driver</a>
    }

    @if (!Model.Drivers.Any())
    {
        <p>No drivers found for this organization.</p>
    }

    <div class="row">
        @foreach (var driver in Model.Drivers)
        {
            <partial name="_DriverCardPartial" model="driver" />
        }
    </div>
</div>
