@using System.Security.Claims
@using GoceTransportApp.Services.Data.Users
@model IEnumerable<GoceTransportApp.Web.ViewModels.Organizations.OrganizationDataViewModel>
@inject IUserService userService

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

}

@{
    ViewData["Title"] = "Organizations";
}

<h2 class="text-center">Organizations</h2>

@if (userId != null)
{
    <div class="mt-3 mb-3">
        <a asp-action="Create" class="btn btn-primary">Add New Organization</a>
    </div>
}

<div class="row">
    @foreach (var organization in Model)
    {
        <div class="col-md-4">
            <partial name="_OrganizationCardPartial" model="organization" />
        </div>
    }
</div>


