@model IEnumerable<GoceTransportApp.Web.ViewModels.Routes.RouteDataViewModel>

@{
    ViewData["Title"] = "Routes for Organization";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Routes</h1>

    @if (!Model.Any())
    {
        <p>No routes found for this organization.</p>
    }

    <div class="row">
        @foreach (var route in Model)
        {
            <partial name="_RouteCardPartial" model="route" />
        }
    </div>
</div>
