@using System.Security.Claims
@using GoceTransportApp.Services.Data.Users
@using static GoceTransportApp.Common.GlobalConstants
@model GoceTransportApp.Web.ViewModels.Routes.RoutesForOrganizationViewModel
@inject IUserService userService

@{
    var message = TempData["SuccessMessage"];
    var organizationId = Model.OrganizationId;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var isFounder = await userService.HasUserCreatedOrganizationAsync(userId, organizationId);
    var isAdmin = User.IsInRole(AdministratorRoleName);
}

@{
    ViewData["Title"] = "Routes for Organization";
}

@if (message != null)
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <i class="fas fa-ticket-alt me-2"></i>
        <span>@message</span>
    </div>
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Routes</h1>
    @if (isFounder || isAdmin)
    {
        <div class="mt-4 mb-4">
            <a asp-action="Create" asp-controller="Route" asp-route-organizationId="@Model.OrganizationId" class="btn btn-success"><i class="fas fa-plus"></i> Add New Route</a>
        </div>
    }

    @if (!Model.Routes.Any())
    {
        <p>No routes found for this organization.</p>
    }

    <div class="row">
        @foreach (var route in Model.Routes)
        {
            <partial name="_RouteCardPartial" model="route" />
        }
    </div>
</div>
