@using System.Security.Claims
@using GoceTransportApp.Services.Data.Users
@using static GoceTransportApp.Common.GlobalConstants
@model GoceTransportApp.Web.ViewModels.Schedules.SchedulesForOrganizationViewModel
@inject IUserService userService

@{
    var organizationId = Model.OrganizationId;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var isFounder = await userService.HasUserCreatedOrganizationAsync(userId, organizationId);
    var isAdmin = User.IsInRole(AdministratorRoleName);
}

@{
    ViewData["Title"] = "Schedules for Organization";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Schedules</h1>
    @if (isFounder || isAdmin)
    {
        <a asp-action="Create" asp-controller="Schedule" asp-route-organizationId="@Model.OrganizationId" class="btn btn-success"><i class="fas fa-plus"></i> Add New Schedule</a>
    }

    @if (!Model.Schedules.Any())
    {
        <p>No schedules found for this organization.</p>
    }

    <div class="row mt-4">
        @foreach (var schedule in Model.Schedules)
        {
            <partial name="_ScheduleCard" model="schedule" />
        }
    </div>
</div>
