@using System.Security.Claims
@using GoceTransportApp.Services.Data.Users
@using static GoceTransportApp.Common.GlobalConstants
@using Microsoft.AspNetCore.Mvc.Localization
@model GoceTransportApp.Web.ViewModels.Tickets.TicketsForOrganizationViewModel
@inject IUserService userService
@inject IViewLocalizer Localizer

@{
    var organizationId = Model.OrganizationId;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var isFounder = await userService.HasUserCreatedOrganizationAsync(userId, organizationId);
    var isAdmin = User.IsInRole(AdministratorRoleName);
}

@{
    ViewData["Title"] = "Tickets for Organization";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <i class="fas fa-ticket-alt fa-3x text-primary mb-3"></i>
        <h1 class="h2 fw-bold">@Localizer["Tickets"]</h1>
    </div>
    @if (isFounder || isAdmin)
    {
        <div class="mt-4 mb-4">
            <a asp-action="Create" asp-controller="Ticket" asp-route-organizationId="@Model.OrganizationId" class="btn btn-success"><i class="fas fa-plus"></i> @Localizer["Add New Ticket"]</a>
        </div>
    }

    @if (!Model.Tickets.Any())
    {
        <p>@Localizer["No tickets found for this organization."]</p>
    }

    <div class="row">
        @foreach (var ticket in Model.Tickets)
        {
            <partial name="_TicketCardPartial" model="ticket" />
        }
    </div>
</div>
