@model GoceTransportApp.Web.ViewModels.Tickets.TicketsForOrganizationViewModel

@{
    ViewData["Title"] = "Tickets for Organization";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Tickets</h1>
    <a asp-action="Create" asp-controller="Ticket" asp-route-organizationId="@Model.OrganizationId" class="btn btn-success">Add New Ticket</a>


    @if (!Model.Tickets.Any())
    {
        <p>No tickets found for this organization.</p>
    }

    <div class="row">
        @foreach (var ticket in Model.Tickets)
        {
            <partial name="_TicketCardPartial" model="ticket" />
        }
    </div>
</div>
