@model GoceTransportApp.Web.ViewModels.Tickets.TicketDetailsViewModel

@{
    ViewData["Title"] = "Ticket Details";
}

<h1 class="text-center mt-4"><i class="fas fa-info-circle"></i> Ticket Details</h1>

<partial name="_TicketDetailsPartial" model="Model" />
