@model GoceTransportApp.Web.ViewModels.ContactForms.ContactFormDetailsViewModel

<h1>Contact Form Details</h1>

<!-- Render Partial for Details -->

<a asp-action="Index" class="btn btn-secondary mt-3">
    <i class="fas fa-arrow-left"></i> Back to List
</a>
