@using GoceTransportApp.Web.ViewModels.ContactForms
@model AllFormsSearchFilterViewModel

<h1 class="text-center mb-4 text-primary"><i class="fas fa-envelope me-2"></i>Contact Forms</h1>

<partial name="_ContactFormDataPartial" model="Model" />

    


