@model IEnumerable<GoceTransportApp.Web.ViewModels.ContactForms.ContactFormDataViewModel>

<h1>Contact Forms</h1>

<a asp-action="Create" class="btn btn-primary mb-3">
    <i class="fas fa-plus"></i> Add Contact Form
</a>

<partial name="_ContactFormDataPartial" model="Model" />

    


