@model GoceTransportApp.Web.ViewModels.Vehicles.RemoveVehicleViewModel

@{
    ViewData["Title"] = "Remove Vehicle";
}

<h1 class="mb-4">Delete Vehicle</h1>

<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">Are you sure you want to delete this vehicle?</h5>
        <p class="card-text">
            <strong>Number:</strong> @Model.Number <br />
            <strong>Organization ID:</strong> @Model.OrganizationId
        </p>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <input asp-for="OrganizationId" type="hidden" />

            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
