@model GoceTransportApp.Web.ViewModels.Vehicles.VehicleDetailsViewModel

@{
    ViewData["Title"] = "Vehicle Details";
}

<h1 class="mb-4">Vehicle Details</h1>

<partial name="_VehicleDetails" model="Model" />

<a asp-action="Vehicles" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationId" class="btn btn-secondary mt-4">Back to List</a>
