@model GoceTransportApp.Web.ViewModels.Vehicles.EditVehicleInputModel

@{
    ViewData["Title"] = "Edit Vehicle";

    var returnUrl = Context.Request.Headers["Referer"].ToString();

    if (string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = Url.Action("Index", "Route");
    }
}

<h1 class="mb-4">Edit Vehicle</h1>

<div class="card shadow">
    <div class="card-body">
        <form asp-action="Edit" method="post" class="needs-validation" novalidate>
            <input type="hidden" asp-for="Id" />
            <input asp-for="OrganizationId" type="hidden" />


            <div class="mb-3">
                <label asp-for="Number" class="form-label">Number</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Type" class="form-label">Type</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Manufacturer" class="form-label">Manufacturer</label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Model" class="form-label">Model</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Capacity" class="form-label">Capacity</label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="FuelConsumption" class="form-label">Fuel Consumption</label>
                <input asp-for="FuelConsumption" class="form-control" />
                <span asp-validation-for="FuelConsumption" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Status" class="form-label">Status</label>
                <select asp-for="Status" class="form-select" asp-items="Html.GetEnumSelectList<GoceTransportApp.Data.Models.Enumerations.VehicleStatus>()">
                    <option value="">Select Status</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Update</button>
            <a href="@returnUrl" class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
