@page
@using GoceTransportApp.Web.Areas.Identity.Pages.Account.Manage
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>
    <i class="fas fa-lock me-2 text-primary"></i>@ViewData["Title"]
</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row mt-4">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control password-field" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label">
                    <i class="fas fa-key me-2"></i>Old Password
                </label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control password-field" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label">
                    <i class="fas fa-lock me-2"></i>New Password
                </label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control password-field" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                <label asp-for="Input.ConfirmPassword" class="form-label">
                    <i class="fas fa-lock me-2"></i>Confirm Password
                </label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="showPasswordToggle">
                <label class="form-check-label" for="showPasswordToggle">Show Password</label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">
                <i class="fas fa-save me-2"></i>Update password
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/showPassword.js"></script>

}
