@model GoceTransportApp.Web.ViewModels.Schedules.ScheduleDetailsViewModel

@{
    ViewData["Title"] = "Schedule Details";
}

<h1 class="h2 fw-bold text-dark text-center mt-4 mb-4">@ViewData["Title"]</h1>

<partial name="_ScheduleDetails" model="Model" />
