@model GoceTransportApp.Web.ViewModels.Schedules.ScheduleDetailsViewModel

@{
    ViewData["Title"] = "Schedule Details";
}

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<partial name="_ScheduleDetails" model="Model" />
